.help-box {
    background-color: var(--primary);
    color: white;
    margin-top: auto;
}

.stat-card {
    border-radius: 12px;
}

.product-item {
    background-color: var(--background-white);
}

.card {
    border-radius: 16px;
}

.btn.new-product-btn {
    background-color: var(--primary-dark);
    color: white;
    border-radius: 8px;
    border: none;
}

.btn.new-product-btn:hover {
    background-color: var(--primary);
    color: white;
}

.sold-item {
    background-color: var(--background-white);
}

.collection-card {
    background-color: var(--background-white);
    border: 1px solid var(--primary-light);
}

.cursor-pointer {
    cursor: pointer;
}
