* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-dark: #6B9080;
  --primary: #A4C3B2;
  --primary-light: #CCE3DE;
  --background-soft: #EAF4F4;
  --background-white: #F6FFF8;

  color: #213547;
  background-color: var(--background-white);
}